// Styling for the contact section
section#contact {
  .map-container {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    max-height: 500px;
    height: 1000px;

    &.visible {
      background-image: url('../dist/img/map.webp');
    }
  }
}
