// Styling for the navbar
#mainNav {
  background-color: $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    outline: none;
    @include heading-font;

    @media (max-width: 992px) {
      display: flex;
      align-items: center;
    }
  }
  .navbar-brand {
    background-image: url('../dist/img/logo/logo-white.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 55px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: #fff;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
  &.navbar-shrink {
    .navbar-brand {
      background-image: url('../dist/img/logo/logo-white.webp');
    }
    .navbar-nav .nav-item .nav-link {
      color: #fff;
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      display: block;
      width: 100px;
      height: 92px;
      background-image: url('../dist/img/logo/logo-black.webp');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
          color: #000;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        padding: 12px 0;
        width: 60px;
        height: 55px;
        margin: 12px 0;
      }
    }
  }
}
